@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(/CSS/reset.css);

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', 'Comic Sans MS';
}

header {
  display: flex;
  justify-content: space-between;
  width: 70svw;
  padding-block: .8rem;
  margin: auto;
  color: blueviolet;
}

ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  position: relative;
  height: 90svh;
  width: 100svw;
  isolation: isolate;
}

.background, .content {
  height: inherit;
  position: absolute;
}

.background {
  background-image: url(/64e2b60395938d8949530dd74694565a.jpeg);
  background-size: cover;
  height: inherit;
  width: inherit;
  opacity: .2;
}

.content {
  width: 72svw;
  height: inherit;
  background-color: #fff;
  left: 14%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 35svw; 
  margin: auto;
  padding-block: 10px;
}

.btn {
  padding-inline: 1.25rem;
  border: 0px solid black;
  font-size: 1.25em;
}

.main-content {
  float: left;
  color: black;
  display: flex;
  justify-content: space-between;
  background-color: hsla(0, 0%, 0%, 0.274);
}

.image-1 {
  width: 400px;
  height: 250px;
}

.text-1 {
  width: 45%;
  margin: auto;
  align-self: center;
  text-align: center;
}